.logInBtn {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.modalLoginBtn {
  height: 10rem;
  width: 20rem;
}

.styles_closeIcon__1QwbI {
  margin-left: 200px;
}

.styles_closeButton__20ID4 {
  margin-left: 200px;
}

.grey-text {
  padding-top: 200px;
  font-size: 30px;
}
