.infoTitle {
  text-align: center;
  font-size: 10rem;
  padding-top: 4rem;
  color: #f7882f;
  margin-top: 19rem;
}

.info {
  color: #6b7a8f;
  padding-bottom: 20rem;
  padding-top: 7.5rem;
  line-height: 5rem;
  font-size: 4rem;
}

.dogspic {
  margin-top: 130px;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}
