.infoTitle {
  text-align: center;
  font-size: 10rem;
  padding-top: 2rem;
  color: #f7882f;
  margin-top: 8rem;
}

.info {
  color: #6b7a8f;
  padding-bottom: 20rem;
  padding-top: 7.5rem;
  line-height: 5rem;
  font-size: 4rem;
  margin-left: 50px;
}

.dogspic {
  background: linear-gradient(red, blue);
  margin-top: 130px;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}
#twoDogs {
  height: 600px;
}
