.stateInput {
  width: 50%;
  height: 30px;
  margin: auto;
  display: block;
  font-size: 25px;
  color: #f7882f;
  border: #f7c331 solid 1px;
}

.stateLabel {
  font-size: 40px;
  color: #f7882f;
  text-align: center;
  display: block;
}

.options {
  background-color: white;
  color: black;
  font-size: 25px;
  width: 50%;
  margin: auto;
  color: #f7882f;
}

.searchDiv {
  display: block;
  min-height: 61vh;
  margin-bottom: 45px;
}

.dogContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0 120px 0;
}
