.upload-text {
  color: #6b7a8f;
  font-size: 18px;
  font-family: "Cabin Sketch", cursive;
}

/* .image-btn {
  height: 100px;
  width: 300px;
  font-size: 30px;
  background-color: #6b7a8f;
  color: white;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
} */
