footer {
  background: #f7c331;
  color: white;
  display: "block";
  padding: 20px;
  height: "40px";
  width: "100%";
}

.footerTitle,
.linksTitle {
  font-size: 60px;
}

.footer-text {
  font-size: 18px;
  background-color: #f7c331;
}

.footer-logo {
  width: 350px;
  text-align: center;
}

.text-left {
  background-color: #f7c331;
}
