.card {
  border-radius: 25px;
}

.cardDiv {
  height: 500px;
  width: 350px;
  display: inline-block;
  margin-bottom: 100px;
  margin-left: 90px;
  margin-right: 50px;
  margin-top: 50px;
}

img {
  width: 400px;
  height: 450px;
}

#btnToProfile {
  background-color: #f7882f !important;
  color: white;
  font-size: 20px;
}
