.card {
  border-radius: 25px;
}

.cardDiv {
  height: 500px;
  width: 400px;
  display: inline-block;
  margin-bottom: 100px;
  margin-left: 200px;
  margin-right: 100px;
}

img {
  width: 400px;
  height: 450px;
}
