.dogCard,
.card {
  margin-top: 50px;
  text-align: center;
  color: #6b7a8f;
  border-radius: 25px;
}

#petName {
  font-size: 60px;
  color: #6b7a8f;
}

#city,
#description {
  font-size: 40px;
  color: #6b7a8f;
}

.profileImg {
  display: block;
  margin: auto;
  border-radius: 25px;
}

.view {
  background-color: rgba(251, 231, 172, 0.2);
  border-radius: 25px;
}
